* {
    box-sizing: border-box;
}

body{
    background: #007bff;
}

.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* start quiz button styling */
.start button, .quiz-box .result-box{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

header p {
    width: 540px;
    background: #fff;
    border-radius: 5px;
    color: #007bff;
    font-size: 25px;
    position: relative;
    left: 700px;
    padding: 10px;
}

.quiz-box{
    display: none;
    width: 550px;
    background: #fff;
    border-radius: 5px;
}

.quiz-box header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz-box header .title {
    font-size: 20px;
    font-weight: 600;
}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quiz-box header .timer .time-text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz-box header .timer .timer-sec {
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 3px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz-box section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz-box section .que-text {
    font-size: 25px;
    font-weight: 600;
}

.quiz-box section .option-list {
    padding: 20px 0;
    display: block;
}

section .option-list .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .3s ease;
}

section .option-list .option:hover {
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}

.option-list .option:last-child {
    margin-bottom: 0px;
}

.option-list .option .icon  {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.option-list .option .icon.tick {
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option-list .option .icon.cross {
    color: #a42834;
    border-color: #a42834;
    background: #f8d7da;
}

.quiz-box footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-box footer .total-que span {
    display: flex;
    user-select: none;
}

footer .total-que span p {
    font-weight: 500;
    padding: 0 5px;
}

.total-que span p:first-child {
    padding-left: 0px;
}

footer .next-btn {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: non;
    outline: none;
    color: #fff;
    background: #007bff;
    border-radius: 5 px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next-btn:hover {
    background: #0263ca;
}

.result-box {
    background: #fff;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.result-box .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result-box .complete-text {
    font-size: 20px;
    font-weight: 500;
}

.result-box .score-text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score-text span p {
    font-weight: 500;
    padding: 0 4px;
}

.result-box .buttons {
    display: flex;
    margin: 20px 0;
}

.result-box .buttons button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}